html,
.body {
  margin: 0 auto;
  /* overflow: hidden; */
  min-height: 100%;
  height: 100%;
  background-color: rgb(143, 136, 136);
}

.header {
  display: flex;
  align-items: center;
  height: 5%;
  background: rgb(121, 73, 73);
}

.logo {
  margin: 20px;
}

.logo-title {
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.editor {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.toolbar-settings {
  display: flex;
  flex-direction: column;
}

.canvas-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 75%;
}

.canvas {
  margin: 10px;
  background: rgb(216, 205, 205);
}

.canvas:hover {
  cursor: url(../png/icons8-edit-50.png) 2 45, none;
}
