@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #635b52;
    border-radius: 25px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    border: 2px solid #3d3535;
    border-radius: 25px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    background: #242020;
    border-radius: 25px;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    background: #ffffff;
    cursor: pointer;
  }
}

input[type="color"] {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #00000000;
  transition: ease-in-out 0.1s;
}

input[type="color"]:hover {
  cursor: pointer;
  transition: ease-in-out 0.1s;
  border: 1px solid #00000000;
  border-radius: 35px;
  background-color: rgb(255, 255, 255);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 35px;
}
